.board {
    width: 81%;
}
.next {
    height: 7vh;
}
.case {
    width: 27%;
    height: 15vh;
    border: 1px solid black;
    text-align: center;
    background-color: cornsilk;
}

.view, .wind {
    height: 7vh;
    border: 1px solid black;
    text-align: center;
}

.draggable {
    padding: 0px;
    position: absolute;
    z-index: 100;
}

.droppable {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10
}

.droppable.active {
    background-color: darkgrey;
}

#drag1 {
left: 0px;
}

#drag2 {
    left: 4%;
}

#drag3 {
    left: 8%;
}

#drag4 {
    left: 12%;
}

#drag5 {
    left: 16%;
}

#drag6 {
    left: 20%;
}

#drag7 {
    left: 24%;
}

#drag8 {
    left: 28%;
}

#drag9 {
    left: 32%;
}
#drag10 {
    left: 36%;
}
#drag11 {
    left: 40%;
}
#drag12 {
    left: 44%;
}

.skin {
    border: 1px solid black;
    border-radius: 50%;
}